
/*GRUPO DE CONTENEDORES*/
    body{
        background-color: #FFFAF0;
        margin: 0%;
        background-image: url("bg.jpg");
        background-repeat:repeat;
        background-blend-mode:overlay;
    } 

    .body-content{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        color: #00153C;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    #despedida_content{
        background-color: #00153C;
        margin-top: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }


/*-----------------------------------*/

/*COLUMNAS*/
    .columns10{
        width: 10%;
        height: 500;
        height: fit-content;
        padding: 1rem;
        margin-top: 0%;
        vertical-align: middle;
        height: max-content;
    }

    .columns20{
        width: 20%;
        height: auto;
        margin-right: 1rem;
    }

    .columns45{
        width: 45%;
        height: 500;
        height: fit-content;
        padding: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
    }

    .columns50{
        width: 50%;
        height: fit-content;
        padding: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
    }

    .columns80{
        width: 80%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
/*-----------------------------------*/

/*ESTILOS DE CABECERAS*/
    h1{
        width: 100%;
        font-family: Futura;
        font-style: normal;
        font-weight: medium;
        font-size: 52px;
        line-height: 57px;
        text-align: left;
    }

    h2{
        width: 100%;
        font-family: Futura;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        line-height: 50px;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    h3{
        font-family: Futura;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 27px;
    }
/*-----------------------------------*/

/*ESTILOS DE TEXTO*/
    p{
        font-size: 1.1rem;
    }

    ul{
        font-size: 1.1rem;
    }

    .strong{
        font-weight: bold;
    }

    .italic{
        font-style: italic;
    }
/*-----------------------------------*/

/*COLORES*/
    .blue_light{
        color: #007FB5;
    }

    .purple{
        color: #740090;
    }

    .fuchsia{
        color: #B6004A;
    }

    .brown{
        color: #D17900;
    }

    .tierra{
        color: #A8A030;
    }

    .green{
        color: #3B9100
    }

    .white{
        color: #FFFFFF
    }
/*-----------------------------------*/

/*ESTILOS PARA MULTIMEDIA*/
svg{
    margin-left: auto;
    margin-right: auto;
}

/*-----------------------------------*/

/*ESTILOS PARA PRESENTACIÓN*/
    #presentacion{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #presentacion h1,
    #presentacion h3{
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #presentacion h2{
        text-align: left;
    }
/*-----------------------------------*/

/*ESTILOS PARA CONTACTO*/
    #contacto{
        width: 100%;
        height: auto;
        background-color: #D8D8D8;
    }


    #contacto > .body-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #D8D8D8;
    }

    #contacto a:link,
    #contacto a:visited{
        color: #00153C;
    }

    #contacto a:hover{
        color: darkgoldenrod;
    }
/*-----------------------------------*/

/*ESTILOS PARA EXPERIENCIA*/
    .experiencia{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        margin-top: 8rem;
        margin-bottom: 5rem;
        vertical-align: middle;
    }

    .experiencia h3{
        text-align: center;
    }

    .bullets{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
/*-----------------------------------*/

/*ESTILOS PARA FORMACIÓN*/
    .formacion_content{
        display: flex;
        flex-direction: rows;
        float: left;
        width: 100%;
        height: auto;
    }

    .formacion{
        width: 90%;
        height: auto;
        padding: 1rem;
        color:#00153C;
        margin-bottom: 6rem;
    }

    .formacion h3{
        margin: 0%;
        color: #00153C;
    }

    .formacion p{
        margin-top: 0%;
    }

    div.formacion.border_right > h3,
    div.formacion.border_right > p.blue_light,
    div.formacion.border_right > p.fuchsia{
        text-align: right;
    }

    .border_left{
        border-left: solid 0.5rem;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; 
    }

    .border_right{
        border-right: solid 0.5rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
/*-----------------------------------*/

/*ESTILOS PARA APTITUDES*/
.aptitudes_content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

/*-----------------------------------*/

/*ESTILOS PARA DESPEDIDA*/
#despedida_content h2,
#despedida_content .body-content{
    color: #D8D8D8;
}

#despedida_content .body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#despedida_content a:link,
#despedida_content a:visited{
    color: #D8D8D8;
}

#despedida_content a:hover{
    color: darkgoldenrod;
}


