:root {
  font-style: "monaco";
}

body {
  font-family: "monaco";
  color: #ffffff;
  background-color: rgb(238, 174, 115);
}

header {
  display: flex;
  border-radius: 70%;
}

.container {
  padding: 1em;
}
.info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.info {
  padding: 1em;
  color: #ffffff;
  float: left;
  line-height: 0.2;
}

.languages {
  padding: 1em;
  color: #ffffff;
  float: right;
  line-height: 0.2;
}

workexperience {
  display: fixed;
}

ul {
  list-style-type: inherit;
  padding-left: 0;
}
.container {
  padding: 1em;
}
.education-box {
  margin-top: 20px;
}
.info {
  float: left;
  color: #ffffff;
  margin-top: 0px;
  margin-left: 5px;
  line-height: 0.2;
}

.languages {
  color: #ffffff;
  margin-top: 0px;
  margin-right: 5px;
  line-height: 0.2;
}

.workExperience {
  background-color: #833f97;
  color: #ffffff;
  padding: 35px;
  border-radius: 1;
  border-style: solid;
  border-color: #4b0b70;
  font-size: 15px;
  line-height: 1.8;
}

.education {
  background-color: #a658d4;
  color: #ffffff;
  padding: 35px;
  border-radius: 1%;
  border-style: solid;
  border-color: #4b0b70;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.8;
}

.aboutme {
  background-color: #c48fe2;
  color: #ffffff;
  padding: 35px;
  border-radius: 1%;
  border-style: solid;
  border-color: #4b0b70;
  margin-bottom: -22px;
  font-size: 15px;
  line-height: 1.8;
}
@media only screen and (min-width: 600px) {
  .info-container {
    justify-content: space-between;
    flex-direction: row;
  }
  .work-container {
    display: flex;
    justify-content: space-around;
  }

  .work-container div {
    min-width: 45%;
    padding: 1rem;
  }
  .education-box {
    margin-top: 0px;
  }
}

img {
  border-radius: 70%;
  display: block;
}

.img {
  margin: 0px auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img {
  vertical-align: middle;
}
,
img {
  vertical-align: text-bottom;

  .link {
    color: #ffffff;
  }
}
