* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    border-radius: 50%;
}

.wrapper {

}

.sidebar {
    background-color: rgb(10, 209, 209);
    color: rgb(181, 250, 233);
    padding: 10px;
    width:20%;
    float: left;
}

.main {
    padding: 30px;
    margin-left: 20%;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
}

.button{
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFD27D;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

.section{

}

.subsection{

}